<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Pagamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirListaAcao()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->



<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"  defaultHref="/home" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><ion-text color="white">Resumo</ion-text></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-label>
        <h3>Estacionamento:  {{ descricaoEstacionamento }}</h3>
        <h3>Forma de Pagamento:  Pix {{ descricaoFormaPagamento }}</h3>
        <h3>Pagamento:  {{ descricaoMetodoPagamento }}</h3>
        <h3>Valor: R$ {{ valorPagamento }}</h3>
        <h3>Data Entrada: {{ dataEntrada }}</h3>
        <h3>Data Saida: {{ dataSaida }}</h3>
        <h3>Tempo: {{ tempoDescricao }}</h3>
      </ion-label>

      <br>

      <ion-label>
        <h1>PIX</h1>
        <br>
        <h3>Tipo Chave : CNPJ</h3>
        <h3>Chave: 37.573.307/0001-91</h3>
      </ion-label>

    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-button
    size="large"
    expand="block"
    shape="round"
    color="primary"
    (click)="abrirListaAcao()">
    <ion-text color="white">Confirmar</ion-text>
  </ion-button>
</ion-footer>
