<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/metodospagamento" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><ion-text color="white">Metodo de Pagamento</ion-text></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Descrição</ion-label>
            <ion-input formControlName="Descricao" type="text" placeholder="Descrição">
              <ion-icon name="document-text-outline" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('Descricao').valid && form.get('Descricao').touched">
            <ion-text *ngIf="form.get('Descricao').hasError('required')">
              * Preencha a descrição
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Número Cartão</ion-label>
            <ion-input formControlName="NumeroCartao" type="text" placeholder="Número Cartão">
              <ion-icon name="card" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('NumeroCartao').valid && form.get('NumeroCartao').touched">
            <ion-text *ngIf="form.get('NumeroCartao').hasError('required')">
              * Preencha o número do cartão
            </ion-text>
            <ion-text *ngIf="!form.get('NumeroCartao').hasError('required') && form.get('NumeroCartao').hasError('minlength')">
              * Deve conter no mínimo 16 números
            </ion-text>
            <ion-text *ngIf="!form.get('NumeroCartao').hasError('required') && form.get('NumeroCartao').hasError('maxlength')">
              * Deve conter no máximo 16 números
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Nome Cartão</ion-label>
            <ion-input formControlName="NomeCartao" type="text" placeholder="Nome Cartão">
              <ion-icon name="card" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('NomeCartao').valid && form.get('NomeCartao').touched">
            <ion-text *ngIf="form.get('NomeCartao').hasError('required')">
              * Preencha o Nome do cartão 
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Código de segurança</ion-label>
            <ion-input formControlName="CodigoSegurancaoCartao" type="text" placeholder="Código de Segurança">
              <ion-icon name="card" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('CodigoSegurancaoCartao').valid && form.get('CodigoSegurancaoCartao').touched">
            <ion-text *ngIf="form.get('CodigoSegurancaoCartao').hasError('required')">
              * Preencha o Código de segurança
            </ion-text>
            <ion-text *ngIf="!form.get('CodigoSegurancaoCartao').hasError('required') && form.get('CodigoSegurancaoCartao').hasError('minlength')">
              * Deve conter no mínimo 3 caracteres
            </ion-text>
            <ion-text *ngIf="!form.get('CodigoSegurancaoCartao').hasError('required') && form.get('CodigoSegurancaoCartao').hasError('maxlength')">
              * Deve conter no máximo 3 caracteres
            </ion-text>
          </ion-text>
        </div>

        <ion-item >
          <ion-label position="stacked">Tipo Cartão: </ion-label>
          <ion-select  formControlName="TipoCartao">
            <ion-select-option value="C">Crédito</ion-select-option>
            <ion-select-option value="D">Débito</ion-select-option>
          </ion-select>
        </ion-item>

      </form>
      </ion-item-group>

    </ion-list>
  
</ion-content>

<ion-footer>
  <ion-button 
    size="large" 
    expand="block" 
    shape="round" 
    color="primary" 
    (click)="onSubmit()">
    <ion-text color="white">Adicionar</ion-text>
  </ion-button>
</ion-footer>

