<ion-content [fullscreen]="true">
  <ion-slides [options]="slideOpts" #slides>
    <ion-slide *ngFor="let slide of slideImages"
      [style.background-image]="'url(' + slide + ')'">
      <ion-grid>
        <ion-row class="logo"></ion-row>

        <ion-label class="ion-text-center" style="color: white; font-size: 35px;">Rotativo Online</ion-label>

        <div class="authButton">
          <ion-button size="large" expand="block" shape="round" color="primary"
            routerLink="/welcome/sign-up">
            <ion-text color="white">Cadastrar</ion-text>
          </ion-button>
          <ion-button size="large" expand="block" shape="round" color="white"
            routerLink="/welcome/sign-in">
            <ion-text color="primary">Login</ion-text>
          </ion-button>
          <ion-button size="large" expand="block" shape="round" color="white"
          routerLink="/estacionamento-lista" (click)="deslogarUsuario">
          <ion-text color="primary">Continuar sem logar</ion-text>
        </ion-button>
        </div>

      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
