<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/welcome" color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><ion-text color="white">Cadastro</ion-text></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">

    <ion-item-group class="ion-margin-horizontal">
      <form [formGroup]="form">
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Nome Usuário</ion-label>
            <ion-input formControlName="name" type="text" placeholder="Nome de usuário">
              <ion-icon name="person" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger"
            *ngIf="!form.get('name').valid && form.get('name').touched">
            <ion-text *ngIf="form.get('name').hasError('required')">
              * Preencha seu nome de usuário
            </ion-text>
          </ion-text>
        </div>
        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Email">
              <ion-icon name="mail" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger"
            *ngIf="!form.get('email').valid && form.get('email').touched">
            <ion-text *ngIf="form.get('email').hasError('required')">
              * Preencha seu Email
            </ion-text>
            <ion-text
              *ngIf="!form.get('email').hasError('required') && form.get('email').hasError('email')">
              * Insira um endereço de email correto.
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Senha">
              <ion-icon name="key" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('password').valid && form.get('password').touched">
            <ion-text *ngIf="form.get('password').hasError('required')">
              * Preencha sua senha
            </ion-text>
            <ion-text *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
              * Deve conter no mínimo 8 caracteres
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input formControlName="nome" type="text" placeholder="Nome">
              <ion-icon name="person-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('nome').valid && form.get('nome').touched">
            <ion-text *ngIf="form.get('nome').hasError('required')">
              * Preencha seu nome
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Cpf</ion-label>
            <ion-input formControlName="cpf" type="text" placeholder="CPF">
              <ion-icon name="card" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('nome').valid && form.get('cpf').touched">
            <ion-text *ngIf="form.get('cpf').hasError('required')">
              * Preencha o Cpf
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input formControlName="numeroTelefone" type="text" placeholder="Número Telefone" mask="(00)00000-0000">
              <ion-icon name="phone-portrait" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('numeroTelefone').valid && form.get('numeroTelefone').touched">
            <ion-text *ngIf="form.get('numeroTelefone').hasError('required')">
              * Preencha o Número Telefone
            </ion-text>
          </ion-text>
        </div>


        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Número Cep</ion-label>
            <ion-input formControlName="numeroCep" type="text" placeholder="Número Cep" (ionBlur)="buscaCep()">
              <ion-icon name="navigate-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('numeroCep').valid && form.get('numeroCep').touched">
            <ion-text *ngIf="form.get('numeroCep').hasError('required')">
              * Preencha o Número do Cep
            </ion-text>
          </ion-text>
        </div>

        <ion-item>
          <ion-label position="stacked">Cidade:</ion-label>
          <ion-select formControlName="cidade" multiple="false" cancelText="Cancelar" [compareWith]="compareWithCidade">
            <ion-select-option *ngFor="let cid of cidades" [value]="cid">
              {{ cid.NomeCidade }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Numero Endereço</ion-label>
            <ion-input formControlName="numeroEndereco" type="text" placeholder="Número Endereço">
              <ion-icon name="navigate-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('numeroEndereco').valid && form.get('numeroEndereco').touched">
            <ion-text *ngIf="form.get('numeroEndereco').hasError('required')">
              * Preencha o Número do Endereço
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Endereço</ion-label>
            <ion-input formControlName="endereco" type="text" placeholder="Endereço">
              <ion-icon name="navigate-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('endereco').valid && form.get('endereco').touched">
            <ion-text *ngIf="form.get('endereco').hasError('required')">
              * Preencha o endereço
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Bairro</ion-label>
            <ion-input formControlName="bairro" type="text" placeholder="Bairro">
              <ion-icon name="navigate-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('bairro').valid && form.get('bairro').touched">
            <ion-text *ngIf="form.get('bairro').hasError('required')">
              * Preencha o bairro
            </ion-text>
          </ion-text>
        </div>

        <div class="ion-margin-vertical">
          <ion-item>
            <ion-label position="stacked">Complemento</ion-label>
            <ion-input formControlName="complemento" type="text" placeholder="Complemento">
              <ion-icon name="navigate-circle" slot="start" color="medium"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text class="error" color="danger" *ngIf="!form.get('complemento').valid && form.get('complemento').touched">
            <ion-text *ngIf="form.get('complemento').hasError('required')">
              * Preencha o complemento
            </ion-text>
          </ion-text>
        </div>

      </form>
      </ion-item-group>

    </ion-list>

</ion-content>s

<ion-footer>
  <ion-button
    size="large"
    expand="block"
    shape="round"
    color="primary"
    (click)="onSubmit()">
    <ion-text color="white">Cadastrar</ion-text>
  </ion-button>
</ion-footer>

